@model EpamDashkevichLab13.Domain.Item

<div class="text-center">
    <h1>Edit item</h1>
    <div>
        <form asp-controller="Home" asp-action="ItemsEdit" method="post">
            <input type="hidden" asp-for="Id"/>
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" />
                <span asp-validation-for="Quantity"></span>
            </div>
            <input type="submit" value="Save"/>
        </form>

    </div>
</div>
